.footer {
  min-height: 50px;

  &-icons-container {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;

    &-icons {
      width: 35px;
      display: inline-block;
      margin-right: 2px;
    }
  }
}
