.inputs {
  display: block;
  width: 100%;
  margin-top: $margin;
}

.inputs-text {
  height: 2rem;
}

.contacto-boton {
  height: 2rem;
  width: 20%;
  background-color: darkorange;
  border-radius: 3px;
  font-weight: bolder;
}
