@mixin animacion-delay {
  $delay: 1s;
  @for $index from 0 to 12 {
    .animacion-delay-#{$index} {
      animation-duration: $delay;
    }
    $delay: $delay + 0.25s;
  }
}

.flex-container-elements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .productos {
    width: 18%;
    display: inline-block;
    text-align: center;
    margin: $margin;
    animation: fadeIn;

    &-img {
      width: 80%;
    }

    .p-titulo-producto {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  @include animacion-delay();
}
