@font-face {
  font-family: "pt sans";
  src: url("../fuentes/PT_Sans/PTSans-Regular.ttf");
}

* {
  font-family: pt sans;
  margin: 0;
  padding: 0;
}

.black-background {
  background-color: #000;
  color: #fff;
}

.flex-container-elements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
}

.inputs {
  display: block;
  width: 100%;
  margin-top: 25px;
}

.inputs-text {
  height: 2rem;
}

a {
  color: #fff;
}

.footer {
  min-height: 50px;
}

.footer-icons-container {
  display: flex;
  gap: 15%;
  flex-wrap: wrap;
}

.footer-icons {
  width: 35px;
  display: inline-block;
  margin-right: 2px;
}

.index-image {
  padding: 0;
}

.contacto-image {
  width: 100%;
}

.titulo-h1 {
  margin-bottom: 25px;
}

.contacto-boton {
  height: 2rem;
  width: 20%;
  background-color: darkorange;
  border-radius: 3px;
  font-weight: bolder;
}

.productos {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin: 25px;
}

.productos > img {
  width: 80%;
}

.p-titulo-producto {
  font-size: 1.5rem;
  font-weight: bold;
}

.nosotros-p {
  display: inline-block;
}

.nosotros-imagen {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .p-titulo-producto {
    font-size: 1rem;
  }

  .productos {
    width: 35%;
  }

  .productos > img {
    width: 100%;
  }

  .contacto-boton {
    width: 100%;
  }

  .logo {
    width: 150px;
  }
}
