$black-darks: #000;
$white-light: #fff;
$margin: 25px;

@font-face {
  font-family: "pt sans";
  src: url("../../fuentes/PT_Sans/PTSans-Regular.ttf");
}

* {
  font-family: pt sans;
}

.black-background {
  background-color: $black-darks;
  color: $white-light;
}

.titulo-h1 {
  margin-bottom: $margin;
}

.index-h2 {
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}

.imagenes-border {
  border-radius: 5px;
}

.imagenes-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tamaño-imagenes-servicios {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.tamaño-imagenes-pagos {
  width: 200px;
  margin: 50px;
}

.animacion-pulse:hover {
  animation: pulse;
  animation-duration: 1s;
}

.top-padding-img-nosotros-contacto {
  padding: 3rem;
}
