@media screen and (max-width: 600px) {
  .flex-container-elements .productos .p-titulo-producto {
    font-size: 1.2rem;
  }

  .flex-container-elements .productos {
    width: 35%;
  }

  .flex-container-elements .productos-img {
    width: 100%;
  }

  .contacto-boton {
    width: 100%;
  }

  .logo {
    width: 150px;
  }
  .footer-icons-container {
    justify-content: center;
    gap: 5%;
    padding-top: 10px;
  }

  .margin-top-h2-cards {
    margin-top: 25px;
  }

  .tamaño-imagenes-servicios {
    width: 150px;
    margin: 25px;
  }

  .tamaño-imagenes-pagos {
    width: 150px;
    margin: 25px;
  }

  .top-padding-img-nosotros-contacto {
    padding-top: 0;
  }

  .footer-text {
    text-align: center;
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .flex-container-elements .productos {
    width: 25%;
  }

  .tamaño-imagenes-pagos {
    width: 200px;
    margin-bottom: 0px;
  }

  .imagenes-cards {
    margin-bottom: 50px;
  }
}
